<!DOCTYPE html>
<html lang="en" ng-app="tables.main">
<head>
	<title>App for managing JSON data</title>

	<!-- META TAGS -->
	<meta charset="UTF-8">

 	<!-- CSS -->
 	<link rel="stylesheet" href="css/materialize.css">
	<link rel="stylesheet" href="css/main.css">
	
	<!-- JS -->
	<script src="js/lib/angular.min.js"></script>
	<!-- <script src="js/lib/md5.min.js"></script> -->
</head>
<body class="row grey lighten-3" ng-controller="GlobalCtrl">
	<!-- HEADER -->
	<header></header>

	<!-- MAIN -->
	<main class="row">
		<section class="col l7 s12">
		<h2>Work here</h2>
			<button class="btn left" ng-click="downloadData()">
				<i class="material-icons left">get_app</i>
				<span class="left">download table in JSON</span>
			</button>
			<button class="btn left" ng-click="data.reverse()">
				<i class="material-icons left">loop</i>
				<span class="left">reverse table</span>
			</button>
						
			<button class="btn left" ng-click="addRow()">
				<i class="material-icons left">playlist_add</i>
				<span class="left">add row</span>
			</button>
			<button class="btn left" ng-click="addCol()">
				<i class="material-icons left">add</i>
				<span class="left">add column</span>
			</button>
			<button class="btn left" ng-click="deleteCol()">
				<i class="material-icons left">remove</i>
				<span class="left">remove column</span>
			</button>
			<button class="btn left" ng-click="useScript()">
				<i class="material-icons left">code</i>
				<span class="left">use script</span>
			</button>
			<table class="centered striped bordered highlight responsive-table">
			<thead>
			<td></td>
				<td ng-repeat="(key,value) in data[0] track by $index"><h4>{{key}}</h4></td>
			<td></td>
			</thead>
			<tbody>
				<tr ng-repeat="(key,row) in data track by $index" ng-init="rowID = $index;">
				<td><h5><i class="material-icons">dehaze</i></h5></td>
					<td ng-repeat="(colID,value) in row track by $index">
						<center>
							<input type="number" ng-model="data[rowID][colID]" ng-blur="updateData()">
						</center>
					</td>
					<td>
						<div class="red btn-floating" ng-click="deleteRow(rowID)"><i class="material-icons">delete</i></div>
					</td>
				</tr>
			</tbody>
			</table>
		</section>
		<section class="col l5 s12">
			<div>	
				<h2>Just Paste the JSON data here</h2>
				<h3>Or parse the file: <input style="font-size: 50%;" type="file" ng-file-select></h3>
				<textarea ng-model="input"></textarea>
				<button class="btn btn-large" ng-click="updateData()">Parse input</button>
			</div><br>
			<div class="divider"></div>
			<div class="charts">
				<h2>Here data is visualized</h2>
				<!-- <h3>Select type of chart to be shown:</h3> -->
					<bar-chart width="500" height="250"></bar-chart>
					<div class="clearfix"></div>
				</div>

			</div>
		</section>
	</main>



	<!-- FOOTER -->
	<footer class="black white-text">Copyright &copy; Vladyslav Nesterenko <br> Built with <a href="http://angularjs.org">Angular 1.6.9</a></footer>

<script src="js/index.js"></script>
</body>
</html>